# Dependencies
node_modules
.pnp
.pnp.js

# Environment variables & Secrets
.env
.env.*
!.env.example
!.env.production.example

# Certificates & Cryptographic Keys
*.pem
*.key
*.cert
*.crt
*.pfx
*.p12
*.keystore
id_rsa*
*.id_rsa
credentials.json
service-account*.json

# Build outputs
dist
build
.next
out
*.tsbuildinfo

# Prisma
/apps/api/prisma/*.db
/apps/api/prisma/*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# OS Files
.DS_Store
Thumbs.db

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo

# Binaries & Tunnels
*.exe
cloudflared.exe
